{% extends 'TracktusAppBundle::layout.html.twig' %}
{% block title %}{{ project.name }} - Tracktus{% endblock %}

{% block content %}
    {{ project.name }} {{ project.description }}
    <div id="tasks">
        {% for task in project.tasks %}
        <div class="task">
            {{ task.name }}
        </div>
        {% endfor %}
    </div>
{% endblock %}